<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__ava.png">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <main class="post__list">

        <div class="head">
            <button class="button head--viewed">База знань</button>
            <button class="button head--noviewed">Інформація</button>
        </div>

        <img class="img" width="350px" src="/img/image-1.png">

        <div class="post button">
            <h2 class="h2">Що таке база знань?</h2>
            <p class="post__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте
                и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
                информацию, являющуюся результатом решения предыдущих задач. </p>
        </div>

        <button class="button telega">Перейти до ком'юніті у Телеграм</button>


    </main> --}}


</div>